*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.header{
    background-image: url(images/header-background.png);
    height: 100vh;
}
.navbar{
    display: flex;
}
.navbar .logo{
    margin-left: 120px;
    margin-right: 5px;
    margin-top: 20px;
}
.navbar h2{
    color: #1e266d;
    font-size: 35px;
    margin-top: 20px;
}
.navbar ul {
    display: flex;
    position: absolute;
    right: 100px;
    list-style: none;
    margin-top: 20px;
}
.navbar ul a {
   margin-left: 30px;
    text-decoration: none;
    color: #1e266d;
    font-size: 20px;
    transition: all .2s;
}
.navbar ul a:hover {
    border-bottom: 1px solid #ff6c02;
    color: #ff6c02;
}
.header .header-img{
    position: absolute;
    top: 60px;
   right: 75px;
   height: 50vh;
}
.header-text{
    width: 400px;
    position: absolute;
    top: 200px;
    left: 105px;
}
.header-text h1{
    font-size: 50px;
    color: #1e266d;
}
.header-text p{
    font-size: 20px;
    color:#7e7a7a;
    margin: 20px 0;
}
.btn1{
    padding: 15px 30px;
    font-size: 18px;
    text-align: center;
    border-radius: 23px;
    background-color: #ff6c02;
    border: 1px solid #ff6c02;
    color: white;
    transition: all .3s;
cursor: pointer;
}
.btn1:hover{
    background-color: white;
    border: 1px solid #ff6c02;
    color: #ff6c02;
}
.btn2{
    padding: 15px 30px;
    font-size: 18px;
    text-align: center;
border-radius: 23px;
border: 1px solid #ff6c02;
color: #ff6c02;

transition: all .3s;
cursor: pointer;
}
.btn2:hover{
    background-color: #ff6c02;
    border: 1px solid #ff6c02;
    color: white;
}


